.todo {
  &__list {
    list-style: none;
  }
  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #ddd;
    transition: 0.2s all;
    position: relative;
  }
  span {
    pointer-events: none;
    width: 100%;
    margin: 0 2rem;
  }
  &__complete {
    background: #eee;
    span {
      opacity: 0.5;
      transition: 0.2s opacity;
      text-decoration: line-through;
    }
    button {

    }
  }
  &__incomplete {

  }
  &__checkbox {
    cursor: pointer;
    margin-left: 1rem;
  }
}